.logo {
    width: 250px;
}
p#status {
    font-size: 1.5em;
    margin-top: 40px;
}
@media only screen and (min-width: 1024px) {
    div#navbarNavDropdown {
        position: absolute;
        right: 30px;
    }
  }


.mycard{
    margin-top: 20px;
}
.form-inline {
    display: ruby;
}