.logo {
    width: 250px;
}
p#status {
    font-size: 1.5em;
    margin-top: 40px;
}
@media only screen and (min-width: 1024px) {
    div#navbarNavDropdown {
        position: absolute;
        right: 30px;
    }
  }


.mycard{
    margin-top: 20px;
}
.form-inline {
    display: ruby;
}
label.dias {
    margin-left: 20px;
}
img.ver{
    color: #9daa00;
}
a.link-ver{
    text-decoration: none;
    color: #666;
}
form{
    display: table;
    margin: 0 auto;
    margin-bottom: 20px;
}
form button{
    margin: 5px;
}

.create-button{
    margin: 20px;

}
.saludo{
    margin: 20px 0 10px;
}